{% extends "layout.html" %}
{% block content %}

    <h1>{{title}}</h1>

    {% if flag %}

    <form action="" method="post" novalidate >
        {{ form.hidden_tag() }}

{#    Logs belongs to username: #}
        <p id=username>{{ name }}</p>


        <p id="queryid">{{ queryid }}
        </p>
            {% for n in range(logs_in | length) %}
            <ul id="login">
                <li id="login{{ n + 1 }}_time">{{logs_in[n]}}</li>
                <li id="logout{{ n + 1 }}_time">{{logs_out[n]}}</li> <br>
            </ul>
            {% endfor %}

            <p>
            {{ form.username.label  }}<br>
            {{ form.username(id = "userid") }}
            {% for error in form.username.errors %}
            <span id = "incorrect" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p>{{ form.submit() }}</p>


    </form>



    {%  else %}

    <form action="" method="post" novalidate >
        {{ form.hidden_tag() }}

        <p id=username>{{ name }}</p>

            <p>
            {{ form.username.label  }}<br>
            {{ form.username(id = "userid") }}
            {% for error in form.username.errors %}
            <span id = "incorrect" style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p>{{ form.submit() }}</p>


    </form>

    {%  endif %}

{% endblock %}
